<?xml version="1.0" encoding="utf-8"?>
<widget xmlns:cdv="http://cordova.apache.org/ns/1.0" xmlns:vs="http://schemas.microsoft.com/appx/2014/htmlapps" id="chancesrmis.com.claimre" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" defaultlocale="en-US">
  <name>ClaimsRe</name>
  <description>ClaimsRe</description>
  <author href="http://cordova.io" email="dev@cordova.apache.org">Santiago Gastanadui Lujan</author>
  <content src="index.html" />
  <access origin="*" />
  <vs:features />
  <preference name="SplashScreen" value="screen" />
  <preference name="windows-target-version" value="8.1" />
  <icon src="icon.png" />
  <!-- Support for Cordova 5.0.0 plugin system -->
  <plugin name="cordova-plugin-whitelist" version="1" />
  <allow-intent href="http://*/*" />
  <allow-intent href="https://*/*" />
  <allow-intent href="tel:*" />
  <allow-intent href="sms:*" />
  <allow-intent href="mailto:*" />
  <allow-intent href="geo:*" />
  <platform name="android">
    <allow-intent href="market:*" />
  </platform>
  <platform name="android">
    <icon src=“/res/icons/android/icon-36-ldpi.png" density="ldpi" />
    <icon src=“/res/icons/android/icon-48-mdpi.png" density="mdpi" />
    <icon src=“/res/icons/android/icon-72-hdpi.png" density="hdpi" />
    <icon src=“/res/icons/android/icon-96-xhdpi.png" density="xhdpi" />
  </platform>
  <platform name="android">
    <splash src="res/screens/android/screen-hdpi-landscape.png" density="land-hdpi" />
    <splash src="res/screens/android/screen-ldpi-landscape.png" density="land-ldpi" />
    <splash src="res/screens/android/screen-mdpi-landscape.png" density="land-mdpi" />
    <splash src="res/screens/android/screen-xhdpi-landscape.png" density="land-xhdpi" />
    <splash src="res/screens/android/screen-hdpi-portrait.png" density="port-hdpi" />
    <splash src="res/screens/android/screen-ldpi-portrait.png" density="port-ldpi" />
    <splash src="res/screens/android/screen-mdpi-portrait.png" density="port-mdpi" />
    <splash src="res/screens/android/screen-xhdpi-portrait.png" density="port-xhdpi" />
  </platform>
  <plugin name="cordova-plugin-camera" version="2.3.1" />
  <plugin name="cordova-plugin-device" version="1.1.4" />
  <plugin name="cordova-plugin-geolocation" version="2.4.1" />
  <plugin name="cordova-plugin-media" version="2.4.1" />
  <plugin name="cordova-plugin-dialogs" version="1.3.1" />
  <plugin name="cordova-plugin-network-information" version="1.3.1" />
  <plugin name="cordova-plugin-splashscreen" version="4.0.1" />
  <plugin name="cordova-plugin-media-capture" version="1.4.1" />
  <plugin name="phonegap-plugin-push" version="1.9.2">
    <variable name="SENDER_ID" value="653317226796" />
  </plugin>
</widget>